<html>
	<head>
		<title>Food Deeps</title>
		<link rel="stylesheet" type="text/css" href="login.css">
	</head>
	<body>
	
	<div id="modal" ng-controller="modal">
		<button class="buttons btn"ng-click="testz()" style="float:left; margin: 3%">LOG IN </button>
		<!-- <button class="buttons btn" style="margin: 3%">HOW TO PLAY</button> -->
		<div ng-show="show" class="backgrounds">
	
				<div class="row top"></div>
				<div class="col-xs-12" ng-controller="login">
					<div class="col-xs-1"></div>
					<div class="col-xs-3" id="register">
						<h3><span class="glyphicon glyphicon-pencil" style="margin-right: 10px" aria-hidden="true"></span>Register an Account</h3>
						<form ng-submit="register()">
							<input class="form-control" type="text" ng-model="box.name" placeholder="Name" required>
							<br>
							<input class="form-control" type="password" ng-model="box.password" placeholder="Password" required>
							</br>
							<input class="btn btn-primary btn-lg btn-block" type="submit" value="Register">
						</form>
						<p style="color: #5cb85c; text-align: center;"ng-if="success">Successfully Registered!</p>
					</div>

					<div class="col-xs-3"></div>
					<div id="login"class="col-xs-4">
						<h3> 
							<span class="glyphicon glyphicon-user" aria-hidden"true"></span>
							Login Here 
						</h3>	
						<form ng-submit="login()">
							<input class="form-control" type="text" ng-model="box2.name" placeholder="Name" required>
							<br>
							<input class="form-control" type="password" ng-model="box2.password" placeholder="Password"required>
							<br>
							<input class="btn btn-primary btn-lg btn-block" type="submit" value="Login">
						</form>
						<p style="text-align: center; color: #d9534f;" ng-repeat="x in errors track by $index">{{x}}</p>
					</div>
				</div>
				<!-- <div ng-click="close()"class="row" style="position: fixed; height: 200px"></div> -->
				<button ng-click="close()" class="btn buttons">CLOSE</button>
		</div>	
	</div>
		<div class="row top">
  			<div class="col-xs-12 band">
  				<h1 class="text-center"> 
  					Food Deeps <br>
  					<small style="color: #D3D3D3;"class="text-muted">Get your deeps checked</small>
  				</h1>
  			</div>
		</div>

		<div ng-controller="leaderboard" class="row bottom">
			<div class="col-xs-12">
  				<h4 class="text-center"> 
  					LeaderBoards
  				</h4>
  				
					<div class="bestpics" ng-repeat="y in leaders | orderBy:'-votes' | limitTo:3">
						<div class="over">
							<img ng-hide="hoverpic{{$index+1}}" ng-mouseover="hovering($index+1)" class="leadpics" src="{{y.url}}" >
						<!-- </div> -->
						<div ng-mouseleave="unhovering()" class="undertext">
							<p>Uploaded by: {{y.name}}</p>
							<p>Votes: {{y.votes}}</p>
							<p>Rank: {{ $index + 1 }}</p>
							
						</div>
						
					</div>
  			</div>
		</div>
		
		
		<!-- <a id="link" href="http://erickeithlee.com">Contact</a> -->
	</body>
</html>