html,body{
	padding: 0px;
	margin: 0px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: lighter;
	overflow-x: hidden;
	width: 100%;
}
#container{
	background-image: url("http://www.walldevil.com/wallpapers/a76/patterns-wallpaper-photo-cool-wallpapers-textures-leather-minimalistic-pattern-images.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	height: 70vh;
	width: 100vw;
}
.top{
	text-align: center;
	margin-top: 12%;
}
#navs{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	opacity: .97;
	background-color: #3f3f3f;
	height: 6%;
	position: fixed;
	color: white;
	z-index: 2;
}

#user{
	margin: 1%;
	padding: 0px;
	display: inline-block;
	height: 100%;

}
@media (max-width: 480px) {
    p{
    font-size:8px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    p{
    font-size:11px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    p{
    font-size:14px;
    }
}

@media (min-width: 980px) {
  p{
  	font-size:16px;
  }
}
@media (max-width: 480px) {
    h1{
    font-size:20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    h1{
    font-size:28px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    h1{
    font-size:35px;
    }
}

@media (min-width: 980px) {
  h1{
  font-size:40px;
  }
}
.logout{
	vertical-align: top;
	margin: 0px;
	margin-left: 3%;
	height: 100%;
	display: inline-block;
}
.bestpics{
	border: solid;
	border-color: white;
	margin: 5%;
	height: 25%;
	display:block;
	padding: 0px;
}
.boardpics{
	height: 100%;
	float: left;
	display: inline-block;
	
}
table{
	text-indent: 0%;
	width: 50%;
}
tr{
	line-height: 2.5em;
}
#line{
	border-bottom: solid;
}
.warning{
	color:#ff4444;
}
.picture{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 70%;
	width: 100%;
}
.divs{
	border-radius: 5px;
	position: relative;
	margin-left: 4%;
	margin-top: 3%;
	display: inline-block;
	width: 20%;
	height: 40vh;
}
.bottom{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 5%;
	text-align: center;
	line-height: 1em;
	background-color: white;
	height: 30%;
	color: black;
}
.oldbottom{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 5%;
	text-align: center;
	line-height: .3em;
	background-color: white;
	height: 30%;
	color: black;
}
#middle{
	width: 100vw;
	margin: 0px;
	padding-bottom: 2%;
	background-color: #3f3f3f;

}
#last{
	margin: 0px;
	width: 100vw;
	padding-top: 3%;
	padding-bottom: 10%;
	color: white;
	text-align: center;
	background-color: #1a1a1a;
}
#boards{
	text-align: center;
	margin: 0px;
	width: 100vw;
	color: white;
	background-color: #1a1a1a;
	padding: 0px;
}
table{
	margin: 0px auto;
	color: white;
}

@media(max-width: 420px){
	.button{
		height: 100%;
		width: 20%;
	}
	.bottom{
		padding-top: 5%;
		line-height: .5em;
	}
	.oldbottom{
		line-height: .2em;
	}
	.divs{
		width: 43%;
	}
	.boardpics{
		width: 25%;
	}
	h3{
    font-size: 8px;
    }
    .logout{
    font-size:6px;
    }
    .rank{
    	font-size: 20px;
    }
}
.boardpics{
	width: 50%;
}
.rank{
	border: solid;
	border-color: white;
	font-size: 40px;
	font-family: bold;
	margin: 0 auto;
	float: right;
	width: 15%;
	height: 100%;
	color: black;
	background-color: white;
}
.boardtext{
	padding-top: 5%;
	height: 100%;
	width: 20%;
	margin: 0 auto;
	display: inline-block;
}
.buttons{
	position: absolute;
	bottom: 0;
	height: 5vh;
}




#filebutton{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5%;
}

td{

	text-align: center;
}
.trs{
	border-right: solid;
	border-color: white;
	border-width: 1px;
}
.othernumber{
	
	border-bottom: solid;
	border-color: white;
	border-width: 1px;
}

.tablerank{
	font-weight: bolder;
	background-color: white;
	color: black;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
}
.asdf{
	margin:0px;
	padding: 0px;
}


























